# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ionic
node_modules/
www/
dist/
.angular/
.idea/
*.iml
*.iws
*.ipr
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Android
android/app/build/
android/build/
android/gradle/
android/.gradle/
android/local.properties
android/.idea/
android/*.iml
android/captures/
android/external/
android/generated/
android/release/

# iOS
ios/App/build/
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace
ios/*.xcuserstate
ios/.xcode.env.local
ios/.xcuserdata/
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 